*
{
  font-family: 'Original Surfer', cursive;
}
button {
    background-color: #b5c6d0;
    /* Black */
    border: 1px solid transparent;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }
a
{
  text-decoration: none;
  color: black;
}
  button:hover, button active, button focus
  {
    border: 1px solid #000;
  }
  
  ul li button {
    padding: 2px 5px;
  }
  
  .remove {
    padding: 2px 5px;
    background-color: white;
    color: red;
  }
  
  input[type="text"]
  {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
  }
  
  li
  {
    color: white;
    background: linear-gradient(to right, rgb(224, 101, 18) 0%, rgba(216, 225, 231, 0) 45%, rgba(216, 225, 231, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e1e7', endColorstr='#d8e1e7', GradientType=1 );
  }
ul li
{
list-style-type: none;
padding: 10px;
margin-bottom: 10px;
}
ul li .edit
{
display: none;
}

ul li.edit .edit
{
display: initial;
}

ul li.edit .noedit
{
display: none;
}


body
{
  padding: 0;
  margin: 0;
}
div.main
{
  height: 500px;
  width: 800px;
  background: rgb(255, 232, 181);
  margin: auto;
  margin-top: 65px;
  position: relative;
}
div.buttons
{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
div.main
{
  text-align: center;
}
ul#components
{
  text-align: left;
}
p.ownChoose
{
  font-size: 1.3em;
  font-weight: bold;
}
select#selection
{
  height: 40px;
  width: 150px;
  border: 1px solid rgb(224, 101, 18);
}

button#add_component
{
  background-color: rgb(224, 101, 18);
  color: white;
}
div.buttons button
{
  background-color: rgb(117, 54, 12);
}
div.buttons button a
{
  color: white;
}